# Arquivo de configuração do banco de dados com credenciais
# É CRUCIAL que este arquivo não seja enviado para o GitHub.
src/config/database.php

# Pasta de dependências do Composer (se for usado no futuro)
/vendor/

# Arquivos de ambiente
.env

# Arquivos de log
*.log